<main class="ingredients">
  <div class="index_view">
    <button class="in_stock">In Stock</button>
    <button class="buy">To buy</button>
  </div>
  <div class="ingredients_list">
    <h2>All ingredients</h2>
    <ul>
      <% @ingredients.each do |ingredient| %>
        
          <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
      <% end   %>
    </ul>
  </div>

  <div class="ingredients_stock">
    <h2>In stock</h2>
    <ul>
    <% @ingredients.each do |ingredient| %>
      <% if ingredient.stock %>
        <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
      <% end %>
    <% end   %>
    </ul> 
  </div>

  <div class="ingredients_to_buy">
  <h2>To buy</h2>
    <ul>
    <% @ingredients.each do |ingredient| %>
      <% if ingredient.stock === false %>
        <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
      <% end %>
    <% end %>
    </ul> 
  </div>
</main>


