<h1> <%= @ingredient.name %> </h1>

<%= @ingredient.stock %>


<% if @ingredient.stock %>
  <p>In stock</p>
  <%  else %>
  <p>To buy</p>
<% end %>

<%= button_to "Edit ingredient", edit_ingredient_path(@ingredient.id) %>
<%= button_to('Delete', ingredient_path(@ingredient.id), method: :delete) %>





        

