<h1> <%= @ingredient.name %> </h1>

<% if @ingredient.stock %>
  <p>In stock</p>
  <%  else %>
  <p>To buy</p>
<% end %>

<%= link_to('Edit ingredient', edit_ingredient_path(@ingredient.id)) %>
<%= button_to('Delete', ingredient_path(@ingredient.id), method: :delete) %>





        

