<main class="ingredients">
  <div class="ingridients_show">
    <h1> <%= @ingredient.name %> </h1>
    <% if @ingredient.stock %>
      <p class="stock_tag">In stock</p>
      <%  else %>
      <p class="buy_tag">To buy</p>
    <% end %>
    <span class="ingredients_buttons">
      <%= link_to('Edit', edit_ingredient_path(@ingredient.id)) %>
      <%= link_to('Delete', ingredient_path(@ingredient.id), method: :delete) %>
    </span>
  </div>
<main class="ingredients">





        

