<main class="meals">
  <div class="meals_index">
  <h1>Meals of the month </h1>
    <% @meals.each do |meal| %>
        <div class="meals_each">
          <% if meal.recipes %>      
            <li><h3><%= link_to(meal.date.strftime('%a, %d %b %Y'), meal_path(meal)) %></h3></li>
            <p><%= meal.category.capitalize %></p>
            <% meal.recipes.each do |recipe| %>
                <li><%= recipe.name %></li>
          <% end %>
          </div>
        <% end %>
      <% end %>

  </div>
</main>


