<ul>
<% @meals.each do |meal| %>
  <% if meal.recipe %>      
    <li><h3><%= link_to(meal.date.strftime('%a, %d %b %Y'), meal_path(meal)) %></h3>
    <p><%= meal.category.capitalize %></p>
    <p> Recipe: <%= meal.recipe.name %></p></li>
  <% end %>
<% end %>
</ul>

