<ul>
<% @meals.each do |meal| %>
  <% if meal.recipes %>      
    <li><h3><%= link_to(meal.date.strftime('%a, %d %b %Y'), meal_path(meal)) %></h3>
    <p><%= meal.category.capitalize %></p>
    <% meal.recipes.each do |recipe| %>
      <ul>
        <li><%= recipe.name %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>
</ul>

