<ul>
<% @meals.each do |meal| %>
  <% if meal.recipe %>    
    <li><h3><%= link_to(meal.date, meal_path(meal)) %></h3>
    <p><%= meal.recipe.name %></p>
    <p><%= meal.category %></p></li>
  <% end %>
<% end %>
</ul>

