$pale_green: rgb(0, 254, 148);
$dark_green: rgb(0, 132, 76);
$orange: rgb(242, 96, 0);
$blue: rgb(0, 203, 255);
$yellow: rgb(247, 198, 0);
$font_nav: 'Source Sans Pro', sans-serif;
$font_main: 'Roboto Condensed', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

.navigation {
  background-color: $dark_green;
  color: white;
  font-family: $font_nav;
  font-size: px;
  nav {
    // background:#FFF;
    // float:left;
  }
  nav ul {
    display: inline-block;
    // text-align:center;
    margin: 0 auto;
  }
  nav ul li {
    // float:left;
    display: inline-block;
  }
  nav ul li:hover {
    // background-color: $pale_green;
  }
  nav ul li a {
    display:block;
    padding:15px 25px;
    color:white;
    text-decoration: none;
  }
  nav ul li ul {
    display:block;
    position:absolute;
    width:110px;
    background: $pale_green;
  }
  nav ul li ul li {
    width:110px;
    // border-radius: 5px;
  }
  nav ul li ul li a {
    display: block;
    // padding:15px 10px;
    color: white;
  }

  nav ul li ul li:hover a {
    background: $dark_green; 
    color: white;
    // border-radius: 5px;
  }
  nav ul li ul.fallback {
    display:none;
  }
  nav ul li:hover ul.fallback {
    display:block;
  }
}

.nav_line {
  height: 10px;
  background-color: $pale_green;
}
