$pale_green: rgb(0, 254, 148);
$dark_green: rgb(0, 132, 76);
$orange: rgb(242, 96, 0);
$blue: rgb(0, 203, 255);
$yellow: rgb(247, 198, 0);
$font_nav: 'Source Sans Pro', sans-serif;
$font_main: 'Roboto Condensed', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

.navigation {
  nav {
    background:#FFF;
    float:left;
  }
  nav ul {
    text-align:center;
  }
  nav ul li {
    float:left;
    display:inline;
  }
  nav ul li:hover {
    background:#E6E6E6;
  }
  nav ul li a {
    display:block;
    padding:15px 25px;
    color:#444;
  }
  nav ul li ul {
    position:absolute;
    width:110px;
    background:#FFF;
  }
  nav ul li ul li {
    width:110px;
  }
  nav ul li ul li a {
    display:block;
    padding:15px 10px;
    color:#444;
  }

  nav ul li ul li:hover a {
    background:#F7F7F7;
  }
  nav ul li ul.fallback {
    display:none;
  }
  nav ul li:hover ul.fallback {
    display:block;
  }
}

.nav_line {
  height: 10px;
  background-color: $pale_green;
}
